@use 'variables' as *;

.color-collection {
    h2 {
        width: 508px;
        height: 101px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .swiper {
        width: 1142px;
        height: 622px;
        padding: 130px 0 190px;

        .swiper-wrapper {
            display: flex;
            align-items: center;
            transition-timing-function: linear;
        }

        .swiper-slide {
            height: 320px;
            display:flex;
            align-items: center;
            justify-content:center;
            transition: all 700ms linear;
            transform: scale(1);
            border-radius: 30px;
            
            img {
                width: 100%;
                max-width: 100%;
                height: 280px;
                background-color: $img-color;
                padding: 10px 0;
                border: 1px solid #2222224D;
                border-radius: 30px;
            }
            
            &.swiper-slide-active {
                transform: scale(1.24);
                transition: 0.7s;
                z-index: 1;
                
                img {
                    height: 100%;
                    background: #fff;
                    box-shadow: 0 21px 88px 0 #7E767633;
                    transition: 0.7s;
                }
            }
        }

        .swiper-button-prev {
            top: var(--swiper-navigation-top-offset, 45%);

            &::after {
                display: none;
            }
        }

        .swiper-button-next {
            top: var(--swiper-navigation-top-offset, 45%);

            &::after {
                display: none;
            }
        }
    }
}