@use 'variables' as *;

footer {
    height: 189px;
    background: $footer-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    margin-top: auto;

    .navigation {
        width: 278px;
        display: flex;
        justify-content: space-between;
        
        a {
            color: #fff;
        }
    }
    
    .social-networks {
        width: 223px;
        display: flex;
        justify-content: space-between;

        .circle {
            width: 51px;
            height: 51px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

 