@use 'variables' as *;

html {
   box-sizing: border-box;
   font-size: 16px; // 1rem = 16px
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   max-width: 1619px;
   min-height: 100vh;
   font-family: $font-primary;
   color: $basic-color;
   background-color: #fff;
   margin: 0 auto;
}

button,
input,
select,
textarea {
  font-family: inherit; // Наследовать шрифт от body
  color: inherit; // Наследовать цвет от body
}

a {
   text-decoration: none;
}

// img,
// .icon-svg {
//   width: 100%;
//   height: auto;
// }

h1 {
   font-size: 6.2rem;
   font-weight: 700;
   line-height: 1;
}

h2 {
   font-size: 2.75rem;
   font-weight: 700;
   line-height: 1.3;
}

h3 {
   font-size: 2rem;
   font-weight: 500;
   line-height: 1.4;
}

h4 {
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
}

.text,
button {
   font-size: 1.375rem;
   font-weight: 500;
   line-height: 1.4;
}