@use 'variables' as *;

.good-headphones {
   width: 1150px;
   height: 605px;
   display: flex;
   margin: 0 auto 130px;

   .left-part {
      width: 50%;

      h2 {
         width: 460px;
         margin-bottom: 40px;
      }

      .properties {
         display: flex;
         flex-direction: column;

         .characteristic {
            display: flex;
            align-items: center;
            gap: 20px;

            .property {
               width: 98px;
               height: 98px;
               margin: 20px 0;
            }

            .block-description {
               .title {
                  height: 38px;
                  margin-bottom: 5px;
               }
               
               .description {
                  height: 20px;
                  color: #180202;
                  margin-bottom: 10px;
                  opacity: 70%;
               }

               .link {
                  height: 24px;
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #FF4948;
                  text-decoration: none;
               }
            }
         }
      }
   }
   
   .right-part {
      width: 50%;
      background:
         url(assets/img/pink-notes.svg) top right 56px no-repeat,
         url(assets/img/soundwave-left.svg) bottom left -45px no-repeat,
         url(assets/img/soundwave-right.svg) bottom right no-repeat;

      img {
         margin: 66px 0 0 72px;
      }
   }
}