///fonts///
$font-primary: 'Rubik';
$font-secondary:  'monospace';

///colors///
$basic-color: #131313;
$primary-color: #7421B0;
$secondary-color: #828282;
$purple-color: #C0A9F0;
$purple-light-color: #E7DBFF;
$dark-color: #565656;
$grey-color: #CCCCCC;