///fonts///
$font-primary: 'Rubik';
$font-secondary: 'monospace';

///colors///
$basic-color: #180202;
$img-color: #7D75751A;
$footer-color: #E86564;
// $purple-color: #C0A9F0;
// $purple-light-color: #E7DBFF;
// $dark-color: #565656;
// $grey-color: #CCCCCC;