<section class="color-collection">
    <h2>Our latest<span>color collection 2021</span></h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="assets/img/pink-headphones.svg" alt="pink-headphone">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/blue-headphones.svg" alt="blue-headphone">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/green-headphones.svg" alt="green-headphone">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/pink-headphones.svg" alt="pink-headphone">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/blue-headphones.svg" alt="blue-headphone">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/green-headphones.svg" alt="green-headphone">
            </div>
        </div>
        <div class="carousel-navigation">
            <div class="swiper-button-prev">
                <img src="assets/img/nav-prev.svg" alt="prev">
            </div>
            <div class="swiper-button-next">
                <img src="assets/img/nav-next.svg" alt="next">
            </div>
        </div>
    </div>
</section>