<footer>
	<a href="#"><img class="logo" src="assets/img/logo.svg" alt="logo"></a>
	<div class="navigation text">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Product</a>
	</div>
	<div class="social-networks">
		<a href="#" class="circle">
			<img src="assets/img/instagram.svg" alt="instagram">
		</a>
		<a href="#" class="circle">
			<img src="assets/img/x.svg" alt="x">
		</a>
		<a href="#" class="circle">
			<img src="assets/img/facebook.svg" alt="facebook">
		</a>
	</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>