<section class="good-headphones">
   <div class="left-part">
      <h2>Good headphones and loud music is all you need</h2>
      <div class="properties">
         <div class="characteristic">
            <img class="property" src="assets/img/battery.svg" alt="battery">
            <div class="block-description">
               <h3 class="title">Battery</h3>
               <h4 class="description">Battery 6.2V-AAC codec</h4>
               <a href="#" class="link">Lern More</a>
            </div>
         </div>
         <div class="characteristic">
            <img class="property" src="assets/img/bluetooth.svg" alt="bluetooth">
            <div class="block-description">
               <h3 class="title">Bluetooth</h3>
               <h4 class="description">Bluetooth 5.3 with low latency and multipoint connection</h4>
               <a href="#" class="link">Lern More</a>
            </div>
         </div>
         <div class="characteristic">
            <img class="property" src="assets/img/microphone.svg" alt="microphone">
            <div class="block-description">
               <h3 class="title">Microphone</h3>
               <h4 class="description">Dual beamforming microphones with noise reduction</h4>
               <a href="#" class="link">Lern More</a>
            </div>
         </div>
      </div>
   </div>
   <div class="right-part">
      <img src="assets/img/yellow-headphones.svg" alt="yellow-headphone">
   </div>
</section>