<section class="our-latest-product">
   <h2>Our latest product</h2>
   <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Maecenas facilisis nunc ipsum aliquam, ante.
   </h4>
   <div class="items">
      <div class="color pink-headphones">
         <div class="image">
            <img class="headphones" src="assets/img/pink-headphones.svg" alt="red-headphone">
            <button>
               <img class="basket" src="assets/img/basket.svg" alt="basket">
            </button>
         </div>
         <div class="rating">
            <div class="stars">
               <div class="reiting" style="width: 90%;"></div>
            </div>
            <div class="numerical-rating">4.5</div>
         </div>
         <div class="name-price text">
            <div class="name">Red Headphone</div>
            <div class="price">$ 256</div>
         </div>
      </div>
      <div class="color blue-headphones">
         <div class="image">
            <img class="headphones" src="assets/img/blue-headphones.svg" alt="red-headphone">
            <button>
               <img class="basket" src="assets/img/basket.svg" alt="basket">
            </button>
         </div>
         <div class="rating">
            <div class="stars">
               <div class="reiting" style="width: 94%;"></div>
            </div>
            <div class="numerical-rating">4.7</div>
         </div>
         <div class="name-price text">
            <div class="name">Blue Headphone</div>
            <div class="price">$ 235</div>
         </div>
      </div>
      <div class="color green-headphones">
         <div class="image">
            <img class="headphones" src="assets/img/green-headphones.svg" alt="red-headphone">
            <button>
               <img class="basket" src="assets/img/basket.svg" alt="basket">
            </button>
         </div>
         <div class="rating">
            <div class="stars">
               <div class="reiting" style="width: 86%;"></div>
            </div>
            <div class="numerical-rating">4.3</div>
         </div>
         <div class="name-price text">
            <div class="name">Green Headphone</div>
            <div class="price">$ 245</div>
         </div>
      </div>
   </div>
</section>