<section class="whatever-you-get">
   <img src="assets/img/bag&headphones.svg" alt="bag&headphones">
   <div class="accessories">
      <h2>Whatever you get in the box</h2>
      <div class="list">
         <div class="item">
            <div class="arrow">
               <img src="assets/img/arrow.svg" alt="arrow">
            </div>
            <div class="accessory text">5A Charger</div>
         </div>
         <div class="item">
            <div class="arrow">
               <img src="assets/img/arrow.svg" alt="arrow">
            </div>
            <div class="accessory text">Extra battery</div>
         </div>
         <div class="item">
            <div class="arrow">
               <img src="assets/img/arrow.svg" alt="arrow">
            </div>
            <div class="accessory text">Sophisticated bag</div>
         </div>
         <div class="item">
            <div class="arrow">
               <img src="assets/img/arrow.svg" alt="arrow">
            </div>   
            <div class="accessory text">User manual guide</div>
         </div>
      </div>
   </div>
</section>